/node_modules
/tmp
/public/hot
/public/storage
/public/css
/public/js
/public/js/app.js.LICENSE.txt
/public/mix-manifest.json
/public/vendor
/public/images/vendor
/storage/*.key
/storage/debugbar
/storage/api\-docs
/vendor
/.scannerwork
/.vscode
.env
.env.backup
.phpunit.result.cache
.php-cs-fixer.cache
auth.json
composer.lock
package-lock.json
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.DS_Store
_ide_helper_models.php
_ide_helper.php
supervisord.log
supervisord.pid
dependency-update.sh
container-apache.sh
/cypress/downloads/

.idea/

lang/vendor/nova/*.json
